<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<h1 th:text="${title}"></h1>

<form method="post" style="max-width:600px;" th:object="${danism}">
    <div class="form-group">
        <label th:for="title">Title</label>
        <input class="form-control" th:field="*{title}"/>
        <span class="error" th:errors="*{title}"></span>
    </div>
    <div class="form-group">
        <label th:for="body">Dan Story</label>
        <textarea rows="6" class="form-control" th:field="*{body}"> </textarea>
        <span class="error" th:errors="*{body}"></span>
    </div>
    <input type="submit" value="Submit Danism" />
</form>

</body>
</html>